services:
  db:
    image: postgres:16-alpine
    container_name: jobnest-db
    environment:
      POSTGRES_DB: jobnest_db
      POSTGRES_USER: jobnest
      POSTGRES_PASSWORD: secret123
    ports:
      - "5432:5432"
    volumes:
      - jobnest-data:/var/lib/postgresql/data


volumes:
  jobnest-data:
